@import "../../global.scss";
.Feed{
    flex: 5.5;
    @include mobile{
        display: block;
        width: 70%;
        overflow-y: scroll;
        &.FeedResp{
            // overflow-y:hidden; 
            // height: 100vh ;
            
        }
    }
    .feedWrapper{
        padding: 20px;
       
    }
}